@{
    ViewBag.Title = "Reports";
}

@{
    ViewBag.Title = "Select a Report";
}

<h2>Select a Report</h2>

<form method="get" id="reportForm">
    <select name="reportType" id="reportType">
        <option value="SalesByYearAndMonth">Sales By Year and Month</option>
        <option value="SalesByProduct">Sales By Product</option>
        <option value="SalesByCategory">Sales By Category</option>
        <option value="SalesByCustomerAndYear">Sales By Customer and Year</option>
        <option value="SalesByCity">Sales By City</option>
        <option value="Top10CustomersBySales">Top 10 Customers by Sales</option>
        <option value="Top10CustomersBySalesForYear">Top 10 Customers By Sales For Year</option>
        <option value="Top10ProductsBySales">Top 10 Products By Sales</option>

    </select>

    <button type="submit">Generate Report</button>
</form>


<script>
    document.getElementById('reportForm').addEventListener('submit', function(event) {
        var selectedReport = document.getElementById('reportType').value;

        var formAction = '@Url.Action("Index", "Reports")'; 

        if (selectedReport === 'SalesByYearAndMonth') {
            formAction = '@Url.Action("SalesByYearAndMonth", "Reports")';
        } else if (selectedReport === 'SalesByProduct') {
            formAction = '@Url.Action("SalesByProduct", "Reports")';
        } else if (selectedReport === 'SalesByCategory') {
            formAction = '@Url.Action("SalesByCategory", "Reports")';
        } else if (selectedReport === 'SalesByCustomerAndYear') {
            formAction = '@Url.Action("SalesByCustomerAndYear", "Reports")';
        } else if (selectedReport === 'SalesByCity') {
            formAction = '@Url.Action("SalesByCity", "Reports")';
        } else if (selectedReport === 'Top10CustomersBySales') {
            formAction = '@Url.Action("Top10CustomersBySales", "Reports")';
        } else if (selectedReport === 'Top10CustomersBySalesForYear') {
            formAction = '@Url.Action("Top10CustomersBySalesForYear", "Reports")';
        } else if (selectedReport === 'Top10ProductsBySales') {
            formAction = '@Url.Action("Top10ProductsBySales", "Reports")';
        }

        this.action = formAction;

        this.submit();
        event.preventDefault();  
    });
</script>
