@model IEnumerable<OnlineShop.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Product Categories List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Create New Product</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Product Number</th>
        <th>Color</th>
        <th>Price</th>
        <th>Last Modified</th>
        <th>Number Of Orders</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.Name</td>
            <td>@product.ProductNumber</td>
            <td>@product.Color</td>
            <td>@product.ListPrice</td>
            <td>@product.ModifiedDate</td>
            <td style="text-align: center;">@product.OrderCount</td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details", new { id = product.ProductId })">Details</a>
                <a class="btn btn-warning" href="@Url.Action("Edit", new { id = product.ProductId })">Edit</a>

                @if (!product.CanDelete)
                {
                    <button class="btn btn-danger" disabled>Delete</button>
                }
                else
                {
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = product.ProductId })">Delete</a>
                }

                <!-- Inline Add to Cart Form -->
                <form asp-controller="Products" asp-action="AddToCart" method="post" style="display: inline;">
                    <input type="hidden" name="productId" value="@product.ProductId" />
                    <button type="submit" class="btn btn-success">Add to Cart</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
